//todo:font-type dan size ditambah
@font-face {
  font-family: "Gotham Pro";
  src: url("/Font/Gotham Pro/GothamPro.ttf") format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Gotham Pro";
  src: url("/Font/Gotham Pro/GothamPro-Bold.ttf") format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Source Sans Pro";
  src: url("/Font/Source Sans Pro/SourceSansPro-Regular.otf") format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Source Sans Pro";
  src: url("/Font/Source Sans Pro/SourceSansPro-Regular.otf") format('opentype');
  font-weight: bold;
  font-style: normal;
}

$font-main: "Gotham Pro", sans-serif;
$font-type: "Source Sans Pro", sans-serif;
$primary-color: rgb(128, 148, 165);
$bg-main: rgb(236, 236, 237);
$blue-color: rgb(23, 111, 182);
$font-tips-color: rgb(67, 152, 224);
$line-orange: rgb(255, 128, 99);
$line-green: rgb(139, 255, 58);
$line-yellow: rgb(250, 162, 27);

body {
  font-family: $font-main;
  background-color: $bg-main;
  font-size: 14pt;
  h1 {
    font-family: $font-main;
    font-size: 36px;
    font-weight: bold;
  }
  p {
    font-family: $font-type;
  }
  #carousel-1 {
    height: 100%;
  }
  #content-1, #content-2, #content-3 {
    margin: 0 0 50px 0;
    .img-tips {
      height: 100%;
    }
    h3 {
      font-family: $font-main;
      font-weight: bold;
      text-transform: uppercase;
      font-size: 34px;
      color: $primary-color;
      text-align: center;
    }
    h4 {
      font-family: $font-main;
      font-size: 34px;
      color: $primary-color;
      text-align: center;
    }
    hr {
      width: 12%;
      border-bottom: 8px solid $blue-color;
      margin-top: -7px;
    }
    .hr-wide {
      width: 30%;
    }
    .box-tips {
      margin-top: 10px;
    }
    .box-pad {
      padding-bottom: 10px;
      border-top: 1px solid $primary-color;
      min-height: 250px;
      margin-bottom: 15px;
      width: auto;
      &.box-pad-border {
        border-top: 0;
      }
    }
    .box-story {
      float: left;
      margin: 50px 0 0 50px;
      .line-story {
        float: left;
        text-align: left;
        width: 100%;
        border-bottom: 8px solid $primary-color;
        margin-top: 0;
        clear: both;
        margin-left: -35px;
      }
      .line-green {
        border-bottom: 8px solid $line-green;
        width: 32%;
      }
      .line-orange {
        border-bottom: 8px solid $line-orange;
        width: 32%;
      }
      .line-yellow {
        border-bottom: 8px solid $line-yellow;
        width: 32%;
      }
      .nama {
        font-weight: bold;
        float: left;
        margin-left: -36px;
        clear: both;
      }
      .pekerjaan {
        font-size: 12px;
        float: left;
        margin-left: -36px;
        clear: both;
      }
    }
    .box-story-content {
      float: left;
      clear: both;
      a {
        font-weight: bold;
        font-size: 14px;
        word-break: break-all;
        width: 50%;
      }
      p {
        font-size: 14px;
      }
    }
    .tgl {
      font-size: 10px;
      color: $primary-color;
      margin-left: -36px;
      margin-top: -10px;
      float: left;
      clear: both;
    }
    .tgl-tips {
      font-size: 10px;
      color: $primary-color;
      margin-top: -10px;
      float: left;
      clear: both;
    }
    .line-tgl {
      float: left;
      text-align: left;
      width: 10%;
      border-bottom: 8px solid rgb(159, 110, 174);
      margin-top: 0;
      clear: both;
    }
    .title-tips {
      font-size: 14px;
      font-weight: bold;
      margin-top: 15px;
      float: left;
      color: $font-tips-color;
    }
    .border-grey {
      border-top: 1px solid $primary-color;
      margin-top: 20px;
    }
    .border-bottom {
      border-bottom: 1px solid $primary-color;
    }
    .border-middle {
      border-left: 1px solid $primary-color;
      border-right: 1px solid $primary-color;
      padding-left: 10px;
      padding-right: 10px;
    }
    .img-story {
      height: 130px;
      width: auto;
      float: left;
      margin-top: 15px;
      margin-bottom: 15px;
    }
    .box {
      min-height: 300px;
      .box-header {
        font-family: "Gotham Pro", sans-serif;
        min-height: 50px;
        .box-title {
          font-size: 14pt;
          font-weight: bold;
          text-transform: uppercase;
          float: left;
          color: $primary-color;
        }
        .box-icon {
          position: relative;
          top: 5px;
          float: left;
        }
        .box-title-small {
          font-style: italic;
          font-size: 10pt;
          color: $blue-color;
          position: relative;
          text-transform: capitalize;
          float: left;
        }
      }
      .box-content {
        margin-top: 20px;
        .row {
          margin-bottom: 20px;
        }
        .img-anggota {
          float: left;
          width: 85px;
          height: auto;
          margin-right: 20px;
          margin-bottom: 20px;
        }
        .img-komunitas {
          max-width: 175px;
        }
        .komunitas-title {
          float: left;
          color: $primary-color;
          text-transform: capitalize;
          font-size: 12pt;
        }
        .komunitas-content {
          float: left;
          font-size: 10pt;
          color: $primary-color;
          width: 110%;
        }
        .komunitas-social {
          float: left;
          font-size: 9pt;
          color: $primary-color;
          img {
            &:first-child {
              margin-left: 0;
            }
            margin-left: 30px;
            margin-right: 5px;
          }
        }

      }
    }
  }
}

header {
  background-image: url("assets/Header/Aset-Header-3.png");
  background-repeat: no-repeat;
  background-position: right top;
  height: 150px;
  font-size: 13px;
  .logo {
    height: auto;
    width: 200px;
  }
  .logo-fraud {
    height: auto;
    width: 100px;
  }
  .logo-bumn {
    height: auto;
    width: 100px;
    margin-top: 12px;
  }
  .white-bg {
    background-color: #ffffff;
  }
  .bg-nav {
    background: url("assets/Header/Aset-Header-3.png") no-repeat fixed;
    position: absolute;
  }
  .navbar-nav {
    text-transform: uppercase;
    li > a {
      color: $primary-color;
    }
    font-size: 14px;
    font-family: $font-main;
    font-weight: bold;
  }
}

.vcenter {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.vhcenter {
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn-xlg {
  font-size: 40px;
}

.carousel {
  height: 500px;
  margin-bottom: 60px;
  .carousel-caption {
    z-index: 10;
  }
  .carousel-indicators {
    li {
      width: 22px;
      height: 22px;
      margin: 1px;
      text-indent: -999px;
      cursor: pointer;
      background-color: rgba(255, 255, 255, 1);
      border: 5px solid $bg-main;
      border-radius: 12px;
    }
    .active {
      width: 22px;
      height: 22px;
      margin: 0;
      background-color: #fff;
    }
  }
  .item {
    height: 500px;
    background-color: #777;
  }
  .carousel-inner > .item > img {
    position: absolute;
    top: 0;
    left: 0;
    min-width: 100%;
    height: 500px;
  }
  .head-caption {
    font-weight: bold;
    font-size: 45px;
    color: #ffffff;
    text-align: left;
    line-height: normal;
    font-family: $font-main;
    word-break: keep-all;
    width: 90%;
  }
  .small-caption {
    font-weight: bold;
    font-size: 26px;
    color: #ffffff;
    text-align: left;
    line-height: normal;
    font-family: $font-main;
  }
}

#carousel-1 {
  height: 800px;
  .item {
    height: 800px;
  }
  .carousel-inner > .item > img {
    height: 100%;
  }
  .carousel-caption {
    background-color: rgba(23, 111, 182, 0.8);
    float: left;
    width: 100%;
    top: 73%;
    left: 0;
    right: 0;
    padding: 25px;
    height: 27%;
    text-align: center;
  }
}

#carousel-2 {
  height: 600px;
  .item {
    height: 600px;
  }
  .carousel-inner > .item > img {
    height: 100%;
  }
  .carousel-caption {
    background-color: rgba(172, 241, 130, 0.8);
    width: 30%;
    float: left;
    top: 45%;
    height: 35%;
    right: 0;
    left: 16%;
    padding: 25px;
  }
}

#carousel-3 {
  height: 700px;
  .carousel-inner > .item > img {
    height: 100%;
  }
  .item {
    height: 700px;
  }
  .carousel-caption {
    background-color: rgba(249, 125, 125, 0.8);
    width: 30%;
    float: left;
    top: 23%;
    height: 55%;
    right: 0;
    left: 16%;
    padding: 25px;
  }
}

article {
  .featurette-divider {
    margin: 80px 0; /* Space out the Bootstrap <hr> more */
  }
}

.btn-main {
  color: $primary-color;
  font-size: 14px;
  font-family: "Gotham Pro", sans-serif;
  font-weight: bold;
  background-color: #ffffff;
  text-transform: uppercase;
  border-color: rgb(173, 173, 173);
  border-width: 2px;
  border-radius: 2px;
  height: 40px;
  padding: 9px 10px;
  &:hover {
    color: #777777;
  }
}

.footer {
  background-color: $blue-color;
  height: 220px;
  font-size: 9pt;
  color: #ffffff;
  font-family: "Gotham Pro", sans-serif;
  padding: 25px 0 15px 0;
  .logo-footer img {
    width: 250px;
    height: auto;
  }
  .address {
    margin-top: 10px;
    text-align: right;
    font-size: 9pt;
    font-style: normal;
    font-family: "Gotham Pro", sans-serif;
    a {
      color: $bg-main;
    }
  }
  .social {
    text-align: right;
    margin: 10px;
  }
  ul.nav-footer {
    margin-left: -50px;
    list-style-type: none;
    display: block;
    color: $bg-main;
    font-size: 10pt;
    padding: 0;
    li {
      display: inline-block;
      border-right: $bg-main 1px solid;
      padding: 0 10px 0 10px;
      &:last-child {
        border-right: none;
      }
      a {
        color: $bg-main;
        text-transform: uppercase;
      }
    }

  }
}

